{% macro archivelist_body() %}
<section class="accordions">
          <article class="accordion is-inactive">
            <div class="accordion-header toggle">
              Adjust table
            </div>
            <div class="accordion-body">
              <div class="accordion-content">
                <h4>Filter Fields</h4>

                <ul class="stop-propagation">
                  <div id="filter-list"></div>
                </ul>
                <h4>Fields to display</h4>
                <ul class="stop-propagation" style="overflow:auto;max-height:450px;padding:10px;">
                  <div id="row-label-fields"></div>
                </ul>
                <span id="pivot-detail" class="content"></span>
              </div>
            </div>
          </article>
        </section>

 <div id="results"></div>
        <script>
        document.getElementById("results").innerHTML="Archive list is loading...";
        </script>
        <noscript>
        <p><mark>JavaScript is required to view this table</mark></p>
        <p>You can get the raw .csv table at <a target="_blank" href="https://linmobapps.frama.io/apps.csv">https://linmobapps.frama.io/apps.csv</a></p>
        <p>All JavaScript code used in this site is free and open source software - the whole source code for this site can be found at <a href="https://framagit.org/linmobapps/linmobapps.frama.io">https://framagit.org/linuxphoneapps/</a>
        </p>
        </noscript>
{% endmacro %}


{% macro staticlist_head() %}
  <link rel="stylesheet" href="{{ get_url(path="css/applist.css") | safe }}" type="text/css"/>
  <script type="text/javascript" src="{{ get_url(path="js/so.js") | safe }}"></script>
{% endmacro %}

{% macro archivelist_head() %}
  <link rel="stylesheet" href="{{ get_url(path="lib/css/pivot.css") | safe }}" type="text/css"/>
  {#<link rel="stylesheet" href="{{ get_url(path="lib/css/bulma.min.css") | safe }}" type="text/css"/>#}
  <link rel="stylesheet" href="{{ get_url(path="lib/css/responsive.semanticui.min.css") | safe }}" type="text/css"/>
  <link rel="stylesheet" href="{{ get_url(path="lib/css/bulma-accordion.min.css") | safe }}" type="text/css"/>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/jquery.js") | safe }}"></script>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/jquery.dataTables.js") | safe }}"></script>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/pivot.js") | safe }}"></script>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/jquery_pivot.js") | safe }}"></script>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/dataTables.responsive.min.js") | safe }}"></script>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/linkify.min.js") | safe }}"></script>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/linkify-string.min.js") | safe }}"></script>
  <script type="text/javascript" src="{{ get_url(path="lib/javascripts/bulma-accordion.min.js") | safe }}"></script>
  <script type="text/javascript">
// Define the structure of fields, if this is not defined then all fields will be assumed
// to be strings.  Name must match csv header row (which must exist) in order to parse correctly.
fields =[{name: 'name', type: 'string', filterable: false, columnLabelable: true},
{name: 'repository', type: 'string', filterable: true},
{name: 'website', type: 'string', filterable: true},
{name: 'more information', type: 'string', filterable: true},
{name: 'license', type: 'string', filterable: true},
{name: 'category', type: 'string', filterable: true},
{name: 'summary', type: 'string', filterable: false},
{name: 'summary source', type: 'string', filterable: false},
{name: 'description', type: 'string', filterable: false},
{name: 'description source', type: 'string', filterable: false},
{name: 'screenshots', type: 'string', filterable: false},
{name: 'mobile compatibility', type: 'string', filterable: true},
{name: 'framework', type: 'string', filterable: true},
{name: 'backend', type: 'string', filterable: true},
{name: 'service', type: 'string', filterable: true},
{name: 'appid', type: 'string', filterable: false},
{name: 'scale-to-fit', type: 'string', filterable: false},
{name: 'notice', type: 'string', filterable: false},
{name: 'flatpak', type: 'string', filterable: true},
{name: 'aur', type: 'string', filterable: true},
{name: 'postmarketos', type: 'string', filterable: true},
{name: 'debian', type: 'string', filterable: true},
{name: 'appstream link', type: 'string', filterable: false},
{name: 'appdata.xml or metainfo.xml url', type: 'string', filterable: false},
{name: 'freedesktop (sub)categories', type: 'string', filterable: true},
{name: 'main languages', type: 'string', filterable: true},
{name: 'build systems', type: 'string', filterable: true},
{name: 'original reporter', type: 'string', filterable: false},
{name: 'date added', type: 'string', filterable: false},
];

  function setupPivot(input) {
    input.callbacks = {
      afterUpdateResults: function () {
        $('#results > table').DataTable({responsive: true, paginate: false, scrollX: 500, class: "input", "sDom": "<'row'<'span6'l><'span6'f>>t<'row'<'span6'i><'span6'p>>"});
      }
    };
    $('#pivot-demo').pivot_display('setup', input);
  };

  $(document).ready(function () {
    $.ajax({
      url: "https://linuxphoneapps.org/archive.csv",
      dataType: "text",
      success: function (data) {
        data = data.replace(/,/g, " ||| ");
        console.log(data);
        data = linkifyStr(data, {
          format: function (value, type) {
            return value;
          }
        });
        data = data.replace(/ \|\|\| /g, ",");
        console.log(data);
        setupPivot({
          csv: data,
          fields: fields,
          rowLabels: [
            "name",
            "category",
            "summary",
            "mobile compatibility",
            "repository",
            "framework",
            "screenshots",
            "website",
            "license",
            "appid",
            "appstream link",
            "scale-to-fit",
            "flatpak",
            "aur",
            "postmarketos",
            "debian",
            "notice",
            "more information",
            "appdata.xml or metainfo.xml url",
            "backend",
            "service",
            "description",
            "description source",
            "summary source",
            "freedesktop (sub)categories",
            "main languages",
            "build systems",
            "date added"
            ]
        })

        $('.stop-propagation').click(function (event) {
          event.stopPropagation();
        });
        console.log(data);
      }
    });

    // $('#fieldExplanations').pivot_display('setup', {url:"fields.csv", fields: [{name: 'name', type: 'string', filterable: true, columnLabelable: true}, {name: 'explanation', type: 'string', filterable: true, columnLabelable: true}], rowLabels:["name",
    // "explanation"]});
    var accordions = bulmaAccordion.attach();
  });
</script>
{% endmacro %}


